@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap');

:root{
    --cor_primaria: #394867;
    --cor_secundaria: #acb7cc;
    --cor_Terciaria: #32405e;
    --cor_quaternaria: #f1f6f9;
    --cor_textos_foco: #1d2538;
    --Familia_fonte: 'Montserrat', sans-serif;
}

/*Procurar uma fonte melhor e importar em diferentes pesos (400, 600 e etc)*/

*{
    padding: 0;
    margin: 0;
}

html { 
    scroll-behavior: smooth; /*Para deixar o navegar da página pelas ancoras mais agradavel*/
    background-color: var(--cor_primaria);
}

span{ /*Estilização para a primeira letra de certas palavras*/
    font-weight: bold;
    color: red;
}

header{ /*Para manter o cabeçalho fixo*/
    position: sticky;
    top:0;
    width: 100%;
}

.caixa_header{ /*Estilização do cabeçalho*/
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: var(--Familia_fonte);
    background-color: var(--cor_primaria);
    border-radius: 0 0 16px 16px;
    padding: 1rem 0;
}

.caixa_header h1{ /*Estilização do titulo do cabeçalho*/
    font-size: 2rem;
}

.caixa_header ul{  /*Estilização da lista de navegação*/
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    gap: 5%;
    list-style: none;
}

.caixa_header a{ /*Estilização dos links de navegação*/
    font-size: 1rem;
    text-decoration: none;
    color: var(--cor_quaternaria);
}

.caixa_header a:hover{
    font-size: 1.1rem;
    color: var(--cor_secundaria);
    transition: 0.5s;
}

main{ /*Estilização para todo o corpo do site*/
    background-color: var(--cor_secundaria);
}

/*Seção inicio*/
#apresentacao{ /*Estilização da mensagem/titulo inicial*/
    background-color: var(--cor_primaria);
    border-radius: 0 0 16px 16px;
    text-align: center;
    font-family: var(--Familia_fonte);
    color: var(--cor_quaternaria);
    font-size: 2rem;
    padding: 2rem;
}

.caixa_intro{ /*Criação e estilização de caixa flex*/
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    font-family: var(--Familia_fonte);
    padding: 4rem 0;
}

.caixa_texto{ /*Criação e estilização de caixa de texto*/
    width: 40%;
    text-align: center;
    font-size: 1rem;
    color: var(--cor_quaternaria);
    background-color: var(--cor_primaria);
    border-radius: 50px 50px 50px 0;
    padding: 1rem 2%; /*Para manter o texto dentro da caixa após suas bordas serem arredondadas*/
    box-shadow: -7px 10px 10px var(--cor_Terciaria);
}

.caixa_texto :first-child{ /*Estilização do primeiro elemento da caixa de texto*/
    margin-bottom: 1rem;
}

#selfie{ /*Estilização da imagem*/
    width: 20%;
    border-radius: 200px;
}

/*Cone para embelezar a pagina*/
.caixa_cone{
    display: flex;
    justify-content: center;
}

.cone{
    width: 0; 
    height: 0; 
    border-left: 1rem solid transparent;
    border-right: 1rem solid transparent;
  
    border-bottom: 2.5rem solid var(--cor_Terciaria);
}

/*Seção formação*/
.caixa_formacao{ /*Criação e estilização de caixa flex*/
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    gap: 1.5rem;
    font-family: var(--Familia_fonte);
    background-color: var(--cor_Terciaria);
    color: var(--cor_quaternaria);
    padding: 5% 10% 0 10%;
}

.caixa_formacao_textos{ /*Criação e estilização de caixa de texto*/
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding-bottom: 1rem;
}

.caixa_caixa_formacao :last-child{ /*Para remoção de espaçamento não desejado no ultimo elemento de texto*/
    padding-bottom: 2%;
}

#ancora_competencias .cone{
    border-bottom: 2.5rem solid var(--cor_secundaria);
}

/*Seção competetencias*/
.caixa_competencias{ /*Criação e estilização de caixa flex*/
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    gap: 1.5rem;
    font-family: var(--Familia_fonte);
    padding: 5% 10%;
}

.caixa_competencias h1{
    font-size: 1.5rem;
    padding-bottom: 2rem;
    color: var(--cor_textos_foco);
}

.caixa_caixa_competencias{ /*Criação e estilização de caixa flex dentro da anterior*/
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    gap: 20%;
}

.caixa_caixa_competencias p{ /*Estilização dos textos*/
    font-size: 1rem;
    background-color: var(--cor_primaria);
    color: var(--cor_quaternaria);
    border-radius: 20px;
    padding: 0.5rem 1.2rem;
}

.caixa_caixa_competencias :nth-child(odd){ /*Estilização dos textos de número impar*/
    border-radius: 0 30px 0 30px;
}

.caixa_caixa_competencias :nth-child(even){ /*Estilização dos textos de número par*/
    border-radius: 30px 0 30px 0;
}

#competencia_centro :nth-child(1){ /*Estilização do texto central*/
    border-radius: 40px 0 40px 0;
}

/*Seção projetos*/
.caixa_projetos{ /*Criação e estilização de caixa flex*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    font-family: var(--Familia_fonte);
    padding: 5% 10%;
}

.caixa_projetos h1{
    color: var(--cor_textos_foco);
    font-size: 1.5rem;
}

.caixa_projetos iframe{
    width: 100%;
    height: 460px;
}

.caixa_projetos a{
    background-color: var(--cor_quaternaria);
    border-radius: 10px;
    padding: 0.5rem 1rem;
    text-decoration: none;
    color: var(--cor_Terciaria);
    font-size: 1.5rem;
    margin: 1% 0;
}

.caixa_projetos a:hover{
    font-size: 1.7rem;
    color: var(--cor_textos_foco);
    transition: 0.5s;
}

/*Seção rodapé*/
.caixa_footer{ /*Criação e estilização de caixa flex*/
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    font-family: var(--Familia_fonte);
    color: var(--cor_quaternaria);
    font-size: 1rem;
    background-color: var(--cor_primaria);
    border-radius: 16px 16px 0 0;
    padding: 1rem 0;
    gap: 1rem;
}

.caixa_contatos{ /*Criação e estilização de caixa flex para os simbolos de contato*/
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
}

.caixa_caixa_contatos{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 23%;
    gap: 2%;
}

.simbolo{ /*Estilização dos simbolos*/
    width: 1rem;
}

/*Estilização de acordo com as dimenções de tela*/
@media screen and (max-width: 1164px) {
    .caixa_texto{
        font-size: 0.8rem;
        padding: 1.5rem 2rem;
    }

    .caixa_contatos{
        width: 92%;
    }

    .caixa_caixa_contatos{
        width: 30%;
        font-size: 0.8rem;
    }
}

@media screen and (max-width: 940px) {
    .caixa_texto{
        border-radius: 10px 50px 50px 10px;
        box-shadow: -10px 0 10px var(--cor_Terciaria);
    }

    .caixa_competencias{
        padding: 5% 5%;
    }

    .caixa_caixa_competencias p{
        font-size: 0.9rem;
    }
}

@media screen and (max-width: 760px) {
    .caixa_texto{
        border-radius: 10px 50px 50px 30px;
        box-shadow: -10px -5px 10px var(--cor_Terciaria);
    }

    .caixa_caixa_competencias{
        gap: 10%;
    }

    .caixa_projetos h1{
        color: var(--cor_textos_foco);
        font-size: 1.4rem;
    }
    
    .caixa_projetos a{
        font-size: 1.2rem;
    }
    
    .caixa_projetos a:hover{
        font-size: 1.4rem;
    }
}

@media screen and (max-width: 620px) {
    .caixa_header{
        gap: 5%;
    }

    .caixa_header h1{
        font-size: 1.5rem;
    }

    .caixa_header a{
        font-size: 0.8rem;
    }
    
    .caixa_header a:hover{
        font-size: 0.9rem;
    }

    #apresentacao{
        font-size: 1.5rem;
    }

    .caixa_caixa_competencias{
        gap: 0;
    }

    .caixa_contatos {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1rem;
    }

    .caixa_caixa_contatos {
        width: 60%;
    }
}

@media screen and (max-width: 620px){
    .caixa_caixa_competencias{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        gap: 1.5rem;
    }
    
    .caixa_caixa_competencias :first-child{
        border-radius: 0 0 30px 30px;
    }
    
    .caixa_caixa_competencias :last-child{
        border-radius: 30px 30px 0 0;
    }

    #competencia_centro :nth-child(1){
        border-radius: 10px 10px 10px 10px;
    }
}

@media screen and (max-width: 620px){
    .caixa_header{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1.5rem;
    }

    .caixa_projetos a{
        font-size: 0.8rem;
    }
    
    .caixa_projetos a:hover{
        font-size: 1rem;
    }
}